<nav class="navbar navbar-expand-lg back-nav">
    <div class="container-fluid">
        <a class="navbar-brand item-nav" href="#">
            <fa-icon [icon]="['fab', 'airbnb']"></fa-icon>
        </a>
        <button class="navbar-toggler item-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex">
            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn item-nav" type="submit">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
            </button>
        </form>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item item-nav">
                    <a class="nav-link active" aria-current="page" href="#">Ser Anfitrion</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link active" aria-current="page" href="#">Ayuda</a>
                </li>
                <div class="d-flex" *ngIf=!userLogged>
                    <li class="nav-item item-nav">
                        <a class="nav-link active" aria-current="page" href="#">Registrarse</a>
                    </li>
                    <li class="nav-item item-nav">
                        <a class="nav-link active" aria-current="page" href="#">Iniciar Sesion</a>
                    </li>
                </div>
                <div class="d-flex" *ngIf=userLogged>
                    <li class="nav-item dropdown item-nav">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Notificaciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Notif1</a></li>
                            <li><a class="dropdown-item" href="#">Notif1</a></li>
                            <li><a class="dropdown-item" href="#">Notif1</a></li>
                        </ul>
                    </li>
                    <li class="nav-item item-nav">
                        <a class="nav-link active" aria-current="page" href="#">Perfil</a>
                    </li>
                </div>
            </ul>

        </div>
    </div>
</nav>