footer {
    height: 99px;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer p {
    //styleName: subtitulo;
    // font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #FFFFFF;
}

.copyright {
    position: absolute;
    margin-top: 35px;
}